.table {
	margin-left: 300px;
	margin-top: 50px;
}
.table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 85%;
}

.table td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  background-color: #fffffe;
  opacity: .95;
}
